calc_body {
height: 90vh;
width: 40vw;
background-color: #ffd11a;
}

display {
height: 25%;
width: 100%;

background-color: #4d4d4d;
}

row {
height: 12.5%;
width: 100%;
}


last_row {
height: 25%;
width: 100%;
}

small_button {
height: 100%;
width: 25%;
}

number {
background-color: #99ebff;
}

decimal {
background-color: #00a3cc;
}

minus {
background-color: #00a3cc;
}

operator {
background-color: #ff8080;
}

big_button {
height: 100%;
width: (100/3)%;
}

clear {
background-color: #99e600;
}
